<p class="bg-success" id="notice"><%= notice %></p>
<p class="bg-danger" id="alert"><%= alert %></p>



        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">奄美写真ランキング
                </h1>
            </div>
        </div>
        <!-- /.row -->

    <% i = 0 %>
    <% @pictures.each do |picture| %>
        <% i += 1 %>
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <%= image_tag picture.photo.url(:large), :class => 'img-responsive' %>
            </div>
            <div class="col-md-5">
                <h3>No.<%= i %> 『<%= picture.title%>』</h3>
                <p><%= picture.description%></p>
                <p class="text-primary">by <%= picture.name%>さん</p>
                    <i style="color:yellow;" class="fa fa-star fa-2x"></i>
                    <label style="font-size:x-large;"><%= picture.like %></label>
                &nbsp;&nbsp;<a class="btn btn-xs btn-primary" style="color:white;" href="/pictures/<%= picture.id%>/vote" data-method="put" rel="nofollow">
                    投票する
                </a>
            </div>
        </div>
        <hr>
        <!-- /.row -->
    <% end %>



